# --- Python ---
.DS_Store

__pycache__/
TendonForces/__pycache__/
TendonForces/*.pyc
TendonForces/*.nbc
TendonForces/*.nbi

dynamics/__pycache__/
dynamics/__pycache__/**

# --- Virtual envs ---
TendonForces/.venv/
.venv/

# --- OS / editor ---
TendonForces/.DS_Store
TendonForces/.vscode/
TendonForces/.idea/

# --- Large/local data ---
TendonForces/squirrel_paw_results/
TendonForces/squirrel_paw_results/**
TendonForces/manual_videos/
TendonForces/manual_videos/**
TendonForces/sweep_videos/
TendonForces/sweep_videos/**
TendonForces/runs/
TendonForces/runs/**
TendonForces/study_videos/
TendonForces/study_videos/**

# --- Local archive ---
TendonForces/outdated_files/
TendonForces/outdated_files/**

**/wandb/**

optmizer_test_run/
optmizer_test_run/**

optimization/__pycache__/
optimization/__pycache__/**
optimization/runs/
optimization/runs/**

generator/runs/
generator/runs/**

docs/
docs/**

TendonForces/manufactured_runs/
TendonForces/manufactured_runs/**