# --- Python ---
__pycache__/
*.pyc
*.nbc
*.nbi

# --- Virtual envs ---
.venv/
venv/
env/

# --- OS / editor ---
.DS_Store
.vscode/
.idea/

# --- Your large/local data ---
squirrel_paw_results/
squirrel_paw_results/**
manual_videos/
manual_videos/**
sweep_videos/
sweep_videos/**
runs/
runs/**

# --- Your local archive ---
outdated_files/
outdated_files/**
